header {
    position: sticky;
    top: 0;
    z-index: 1;
}


.header-top {
    width: 97%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    border-radius: 8px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #ff9500;
}

.header-content {
    font-size: 18px;
    color: #fff;
    margin-right: 16px;
}
.header-content a {
    text-decoration: none;
    color: #fff;

}

.header-nav {
    display: flex;
    background-color: #F7F7F8;
    justify-content: space-between;
    padding: 20px 0 24px 0;
    border-bottom: 1px solid #f1f1f3;
}
.header-nav-right img {
    display: none;
}
.header-nav-right a {
    text-decoration: none;

}
.header-nav-left {
    display: flex;
    justify-content: flex-start;
}

.header-nav-left img {
    width: 54px;
    height: 54px;
    object-fit: cover;
    margin-right: 26px;
}

.header-nav-left ul {
    display: flex;
}

.header-nav-left ul li {
    list-style: none;
    border-radius: 8px;
    /*padding: 14px 24px;*/
}

.header-nav-left a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #262626;
    padding: 14px 24px;
}

.header-nav-left li:hover {
    background-color: #f1f1f3;
}

.btn {
    color: #262626;
    border: none;
    background-color: transparent;
}

.btn-login {
    border-radius: 8px;
    padding: 14px 34px;
    background-color: #ff9500;
    color: #fff;
    margin-left: 30px;
}
