@media screen and (max-width: 390px) {
    * {
        font-size: 14px;
    }

    .main {
        padding: 0 16px;
    }

    .container {
        justify-content: space-between;
    }

    header {
        margin: 40px 16px 0 16px
    }

    #nav-menu:checked ~ .nav-menu-content {
        display: flex;
    }

    #nav-menu:checked ~ .overlay {
        display: block;
    }

    #nav-menu:checked ~ .nav-menu-close {
        display: block;
    }

    .nav-menu-close {
        display: none;
        position: fixed;
        top: 25px;
        right: 10px;
        z-index: 5;
    }

    .nav-menu-content {
        position: fixed;
        top: 0;
        right: 0;
        background-color: #fff;
        width: 90%;
        height: 100%;
        z-index: 4;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        padding: 10px;
        display: none;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .nav-menu-logo {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #F1F1F3;
        padding: 14px 0;
    }

    .nav-menu-logo img {
        width: 40px;
        height: 40px;
    }

    .nav-menu-content ul {
        width: 100%;
    }

    .nav-menu-content ul li {
        list-style: none;
    }

    .nav-menu-content ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px 0;
        font-size: 16px;
        color: #262626;
    }

    .nav-menu-content ul li:hover a {
        background-color: #F2F2F7;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: #fff;
    }

    .overlay:before {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #00000080;
    }

    .header-top {
        padding: 10px 16px;
        width: 100%;
        margin: 0;
        height: auto;
        border-radius: 6px;
    }

    .header-top img {
        width: 20px;
        height: 20px;
    }

    .header-content {
        font-size: 14px;
        margin: 0;
    }

    .header-nav {
        padding: 14px 0;
    }

    .header-nav-left img {
        width: 40px;
        height: 40px;
    }

    .header-nav-right {
        display: flex;
        align-items: center;
        gap: 20px;

    }

    .header-nav-right img {
        display: block;
    }

    .btn-login {
        padding: 12px 20px;
        margin-left: 0;
        border-radius: 6px;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    .header-btn {
        margin: 0;
    }

    .header-nav-left ul {
        display: none;
    }

    .hero-img {
        margin-top: 30px;
    }

    .hero-img > img {
        margin-top: 30px;
        margin-bottom: 0;
        border-radius: 10px;
    }

    .hero-img span {
        top: 200px;
        left: 143px;
        border: 4px solid #ffffff4d;
        background-color: #ffffff33;
        padding: 10px;
    }

    .hero-img span::before {
        content: "";
        position: absolute;
        border-radius: 10px;
        width: 357px;
        height: 240px;
        background-color: #00000033;
    }


    .hero-img-container {
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 0;
    }

    .hero-img-container img {
        display: block;
        box-sizing: content-box;
        object-fit: contain;
        width: 48px;
        padding: 20px 30px;
    }

    .hero-img-container img:nth-of-type(n+4) {
        display: none;
    }

    .hero-section {
        margin-top: 50px;
    }

    .hero-top {
        border-radius: 8px;
        padding: 14px;
        margin: 0;
        gap: 10px;
    }

    .hero-top .abstract-line {
        top: -20px;
        left: -10px;
    }

    .hero-icon {
        width: 48px;
        height: 48px;
    }

    h1 {
        margin: 0;
        font-size: 16px;
    }

    h1 strong {
        font-size: 16px;
    }

    .hero-bottom {
        margin-top: 16px;
    }

    .hero-bottom h2 {
        font-size: 24px;
        height: auto;
        text-align: center;
        padding: 0 30px;

    }

    .hero-bottom p {
        font-size: 14px;
        height: auto;
        margin-top: 6px;
        text-align: center;
        padding: 0 30px;

    }

    .hero-btn {
        display: flex;
        margin-top: 50px;
    }

    .btn-explore {
        padding: 14px 20px;
        border-radius: 6px;
    }

    .btn-pricing {
        padding: 14px 20px;
        border-radius: 6px;
    }

    .benefits {
        margin-top: 50px;
    }

    .header-content h2 {
        font-size: 28px;
        margin-bottom: 4px;
    }

    .header-btn button {
        margin-top: 20px;
        padding: 14px 20px;
        border-radius: 6px;
        width: auto;
        height: auto;
    }

    .benefits-content {
        margin-top: 40px;
    }

    .benefits-card-bottom, .benefits-card-top {
        display: flex;
        flex-direction: column;
    }

    .benefits-card:nth-child(2) {
        margin: 0;
    }

    .benefits-card {
        width: 100%;
        padding: 30px;
    }

    .benefits-card-number {
        font-size: 50px;
    }

    .benefits-card-content h3 {
        font-size: 20px;
    }

    .benefits-card-content {
        margin-top: 30px;
    }

    .benefits-card-content p {
        margin-top: 10px;
    }

    .benefits-card-icon {
        margin-top: 30px;
    }

    .benefits-card-icon a {
        border-radius: 6px;
        padding: 14px;
        width: 54px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .our-courses {
        margin-top: 50px;
    }

    .our-courses-content {
        margin-top: 20px;
    }

    .our-courses-card {
        width: 100%;
        padding: 24px;
        border-radius: 10px;
        margin-top: 20px;
    }

    .our-courses-card:first-child {
        margin-right: 0;
    }

    .our-courses-items {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    .our-courses-card-title {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 24px;
    }

    .our-courses-card-title span {
        padding: 8px 14px;
        border-radius: 6px;
    }

    .our-courses-card-title p {
        font-size: 16px;
        margin-left: 0;
        margin-top: 14px;
    }

    .our-courses-card-content {
        margin-top: 24px;
    }

    .our-courses-card-content h3 {
        font-size: 18px;
    }

    .our-courses-card-content p {
        margin-top: 10px;
    }

    .our-courses-card a {
        padding: 14px 24px;
        border-radius: 6px;
        margin-top: 24px;
    }

    .our-testimonials {
        margin-top: 50px;
    }

    .our-testimonials-items {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .our-testimonials-items:last-child {
        margin-top: 0;
    }

    .our-testimonials-card:first-child {
        margin-right: 0;
    }

    .our-testimonials-content {
        margin-top: 20px;
    }

    .our-testimonials-card p {
        padding: 30px;
    }

    .our-testimonials-card {
        width: 100%;
        border-radius: 10px;
        margin-top: 20px;
    }

    .our-testimonials-card-content {
        padding: 20px 30px;
        border-radius: 0 0 10px 10px;
    }

    .our-testimonials-card-content a {
        padding: 14px 16px;
        border-radius: 6px;
    }

    .our-pricing {
        margin-top: 50px;
    }

    .header-btn {
        align-items: center;
        justify-content: center;
    }

    .header-btn-pricing {
        margin-top: 20px;
        padding: 12px;
    }

    .header-btn-pricing button:first-child {
        padding: 12px 24px;
        margin-top: 0;
        width: auto;
        height: auto;
    }

    .header-btn-pricing button:last-child {
        margin-top: 0;
        padding: 12px 24px;
        width: auto;
        height: auto;
    }

    .our-pricing-content {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding: 20px;
    }

    .our-pricing-card:first-child {
        margin-right: 0;
    }

    .our-pricing-card {
        padding: 30px 20px 20px 20px;
    }

    .our-pricing-card:last-child {
        margin-top: 30px;
    }

    .our-pricing-card-title {
        padding: 8px 22px;
        font-size: 16px;
        border-radius: 4px;
    }

    .our-pricing-card-price {
        font-size: 14px;
        margin-top: 30px;
    }

    .our-pricing-card-price strong {
        font-size: 50px;
    }

    .our-pricing-card-content {
        margin-top: 30px;
        padding: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .our-pricing-card-content h4 {
        font-size: 18px;
    }

    .our-pricing-card-content {
        margin-top: 30px;
    }

    .our-pricing-card-content ul {
        margin-top: 20px;
        padding: 0;
    }

    .our-pricing-card-content ul li {
        padding: 12px;
        border-radius: 6px;
        align-items: flex-start;
    }

    .our-pricing-card-content ul li img {
        margin-right: 8px;
    }

    .our-pricing-card button {
        padding: 18px 24px;
    }

    .frequently {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        background-color: #F7F7F8;
    }

    .frequently-header {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        padding: 24px;
        background-color: #fff;
        border-radius: 12px;
    }

    .frequently-header span {
        font-size: 28px;
    }

    .frequently-header p {
        margin-top: 20px;
    }

    .frequently-header button {
        padding: 14px 20px;
        border-radius: 6px;
        margin-top: 20px;
    }

    .frequently-content {
        margin-top: 40px;
    }

    .frequently-content-card {
        padding: 20px 24px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .frequently-content-card-header h5 {
        margin-right: 40px;
        font-size: 16px;
    }

    .frequently-content-card-header-close {
        height: 40px;
        border-radius: 6px;
    }

    .frequently-content-card-header-open {
        height: 40px;
        border-radius: 6px;
    }

    .frequently-content-card-menu-btn {
        padding: 12px 20px;
        border-radius: 6px;
        margin-top: 20px;
    }

    .frequently-content-card-menu-btn button {
        padding: 10px;
        margin-top: 0;
        border-radius: 100px;
        width: 40px;
        height: 40px;
    }

    input[type="checkbox"]:checked ~ .frequently-content-card-header {
        padding-bottom: 20px;
    }

    footer {
        margin-top: 50px;
        padding: 0;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        padding: 50px 20px 24px 20px;
    }

    .footer-content-right-home {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-content-right-home ul {
        width: auto;
    }

    .info-item p a {
        font-size: 15px;
    }

    .info-item i {
        font-size: 20px;
    }

    .footer-content-left-info {
        margin-top: 30px;
    }

    .footer-social {
        margin-top: 24px;
    }

    .copy-right {
        margin-top: 0;
        padding: 0;
    }

    .copy-right p {
        padding: 20px 20px 20px 24px;
    }
}