* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 150%;
}
html {
  background-color: #f7f7f8;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  max-width: 1600px;
  margin: 0 auto;
    padding: 0 24px;
}
