* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    position: relative;
}

body {
    background-image: url(https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?q=80&w=2070&auto=format&fit=crop);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    background: rgba(255, 255, 255, 0.25);
    margin: 6rem 2rem;
    border-radius: 1rem;
}

h1 {
    text-align: center;
    margin: 0.625rem 3.125rem;
    font-size: 4rem;
    color: #1e293b;
    font-weight: 700;
    padding-top: 4rem;
}

.heading {
    color: #c084fc;
    font-weight: 700;
}

.heading-title {
    font-size: 1.25rem;
    text-align: center;
    padding-top: 1rem;
    color: #334155;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.btn {
    text-align: center;
}

.btn-hero {
    padding: 1rem 2rem;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 2rem;
    background-color: #a855f7;
    color: #fff;
    border-color: transparent;
    margin-top: 5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-hero:hover {
    background-color: #9333ea;
}

.avatar-hero {
    text-align: center;
}

.avatar {
    border-radius: 10rem;
    border: 0.25rem solid rgba(192, 132, 252, 0.6);
    width: 3rem;
    height: 3rem;
    margin-top: 5rem;
}

.avatar-title {
    font-size: 1.25rem;
    text-align: center;
    padding-top: 1rem;
    color: #334155;
    font-weight: 600;
}

.highlight-text {
    color: #a855f7;
}

.toggle-input {
    margin-top: 2rem;
    text-align: center;
}

label {
    padding-left: 0.625rem;
    color: #334155;
    cursor: pointer;
}

.recommend {
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s;
}

.heading-recommend {
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #334155;
    transition: color 0.3s;
}

.title-recommend {
    color: #334155;
    line-height: 2rem;
    transition: color 0.3s;
}

#toggle-theme:checked + label + .recommend {
    background-color: rgba(192, 132, 252, 0.35);
}

#toggle-theme:checked + label + .recommend .heading-recommend,
#toggle-theme:checked + label + .recommend .title-recommend {
    color: #6b21a8;
}

.icon-checked {
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 2rem;
}

.icon-img {
    width: auto;
    height: 1rem;
}

.icon-span {
    margin-right: 1rem;
    color: #334155;
    font-weight: 400;
    font-size: 1rem;
}

.footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255);
}

.footer-text {
    border-top: 0.125rem solid rgba(192, 132, 252, 0.6);
    padding-top: 4rem;
    color: #334155;
}

.btn-support {
    background-color: #f05123;
    margin-left: 2rem;
    padding: 1rem 2rem;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 2rem;
    color: #fff;
    border-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-support:hover {
    background-color: #d8431c;
}

.modal-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.btn-modal-start {
    display: none;
}

.modal-content-start {
    position: fixed;
    background-color: #fff;
    width: 30rem;
    height: 24rem;
    padding: 2rem;
    border-radius: 1rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

.heading-modal {
    font-size: 1.6rem;
    font-weight: 600;
    color: #1e293b;
}

.para-modal {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #64748b;
}

.icon-modal {
    text-align: left;
}

.icon-img-modal {
    margin-right: 1rem;
    width: 1rem;
    height: 1rem;
}

.icon-para-modal {
    margin-bottom: 1rem;
    color: #334155;
}

.btn-start {
    padding: 1rem;
    border-radius: 1rem;
    width: 25rem;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #a855f7;
    color: #fff;
    border-color: transparent;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-start:hover {
    background-color: #9333ea;
}

.register-modal {
    margin: 0 1rem;
    color: #a855f7;
    font-weight: 400;
    transition: text-decoration 0.3s;
}

.register-modal:hover {
    text-decoration: underline;
}

.btn-close {
    color: #334155;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: color 0.3s;
}

.btn-close:hover {
    color: #1e293b;
}

#toggle-modal-start:checked ~ .btn-modal-start {
    display: block;
}

#toggle-modal-support:checked ~ .btn-modal-support {
    display: block;
}

.btn-modal-support {
    display: none;
}

.modal-content-support {
    width: 35rem;
    height: 40rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    overflow: auto;
}

.form-modal {
    text-align: left;
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-group label {
    padding-left: 0;
    font-weight: 400;
    font-size: 1rem;
    color: #1e293b;
}

ul {
    list-style: none;
}

.form-group input {
    display: block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid #e2e8f0;
    font-size: 1rem;
    width: 31rem;
    background-color: #f8fafc;
    transition: border-color 0.3s;
}

.form-group input:focus {
    outline: none;
    border-color: #a855f7;
}

.required {
    color: #ef4444;
}

.checkbox-modal {
    color: #1e293b;
}

.checkbox-modal li {
    position: relative;
    margin-top: 0.5rem;
}

.checkbox-modal input {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.checkbox-modal label {
    cursor: pointer;
}

.form-group-btn {
    text-align: center;
}

.btn-form-support {
    padding: 1rem 0;
    width: 30rem;
    border-radius: 5rem;
    border: none;
    background-color: #f05123;
    font-size: 1.125rem;
    font-weight: 600;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-form-support:hover {
    background-color: #d8431c;
}

.tooltip {
    position: absolute;
    background-color: #1e293b;
    color: #fff;
    padding: 0.6rem;
    border-radius: 0.3125rem;
    font-size: 0.75rem;
    top: -2.5rem;
    left: 0;
    z-index: 10;
}

.arrow {
    position: absolute;
    width: 0;
    border-style: solid;
    border-width: 0.4rem;
    border-color: #1e293b transparent transparent transparent;
    top: -0.5rem;
    left: 1rem;
}

.tooltip-container {
    display: none;
}

#name:hover ~ .tooltip-container,
#phone:hover ~ .tooltip-container,
#email:hover ~ .tooltip-container,
#html-css:hover ~ .tooltip-container,
#javascript:hover ~ .tooltip-container,
#frontend:hover ~ .tooltip-container,
#reactjs:hover ~ .tooltip-container,
#support:hover ~ .tooltip-container {
    display: block;
}

.question {
    margin-bottom: 1rem;
}

.question:last-child {
    padding-bottom: 5rem;
}

.question-heading {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
    color: #1e293b;
}

.question-toggle {
    position: relative;
    width: 40rem;
    margin: auto;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
    border: 0.0625rem solid rgba(192, 132, 252, 0.3);
    transition: background-color 0.3s;
}

.question-toggle-heading {
    display: block;
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem;
    color: #1e293b;
    transition: background-color 0.3s;
}

.question-toggle-heading:hover,
.toggle-question:checked ~ .question-toggle .question-toggle-heading {
    background-color: rgba(192, 132, 252, 0.15);
}

.question-toggle-content {
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    color: #334155;
    line-height: 1.5rem;
    display: none;
}

.open-question {
    position: absolute;
    top: 0.6rem;
    right: 1.5rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #a855f7;
    cursor: pointer;
    display: none;
}

.close-question {
    position: absolute;
    top: 0.6rem;
    right: 1.5rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #a855f7;
    cursor: pointer;
}

.toggle-question:checked ~ .question-toggle .question-toggle-content {
    display: block;
}

.toggle-question:checked ~ .question-toggle .question-toggle-heading {
    background-color: rgba(192, 132, 252, 0.15);
}

.toggle-question:checked ~ .question-toggle .open-question {
    display: block;
}

.toggle-question:checked ~ .question-toggle .close-question {
    display: none;
}

/*HEADER*/
.site-header {
    display: flex;
    position: fixed;
    max-width: 80%;
    width: 90%;
    background-color: #fff;
    height: 6rem;
    border-radius: 10rem;
    left: 0;
    right: 0;
    top: 1rem;
    margin: 0 auto;
}

.header-logo img {
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    object-fit: cover;
}

.header-logo {
    display: flex;
    align-items: center;
    width: 10rem;
    justify-content: space-evenly;
}

.main-nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    width: 70%;
}

.nav-link {
    list-style: none;
    text-decoration: none;
    padding: 1rem;
    font-weight: 600;
    color: #334155;
    width: 10rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.nav-item:hover .nav-link {
    color: #a855f7;
    background-color: rgba(168, 85, 247, 0.1);
    border-radius: 5rem;
}

.header-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 32rem;
}

.btn-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 3rem;
    border-radius: 5rem;
    padding: 1rem;
    border: 0.125rem solid #e2e8f0;
    font-weight: 600;
    color: #334155;
    font-size: 1rem;
    background-color: #fff;
}
.btn--sign-in:hover {
    background-color: rgba(168, 85, 247, 0.1);
    border-color: #9333ea;
}
.btn--sign-up:hover {
    background-color: #9333ea;
}


.btn--sign-up {
    background-color: #a855f7;
    color: #fff;
    border: none;
}

.nav-item {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}

.submenu-list {
    position: absolute;
    display: none;
    width: 14rem;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    top: 5rem;
    padding: 1rem 0;
}

.submenu-item {
    position: relative;
    padding: 0 0.5rem;
    display: flex;
}

.submenu-link {
    font-weight: 600;
    color: #334155;
    text-decoration: none;
    padding: 1rem;
    width: 100%;
}

.nested-submenu-list {
    position: absolute;
    left: 100%;
    top: 0;
    width: 12rem;
    background-color: #fff;
    border-radius: 1rem;
    display: none;
    flex-direction: column;
    padding: 1rem 0;
}

.arrow--down {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    border-style: solid;
    border-width: 0.3rem;
    border-color: #1e293b transparent transparent transparent;
}

.nav-item:hover .arrow--down {
    border-color: #a855f7 transparent transparent transparent;
}

.nav-item:hover .submenu-list {
    display: flex;
}

.submenu-item:hover > .nested-submenu-list {
    display: flex;
}

.submenu-item:hover > .submenu-link {
    color: #a855f7;
    background-color: rgba(168, 85, 247, 0.08);
    border-radius: 0.5rem;
}

.arrow-left {
    position: absolute;
    border-style: solid;
    border-width: 0.3rem;
    border-color: transparent transparent transparent #1e293b;
    top: 1.4rem;
    right: 1.5rem;
}
.submenu-item:hover > .arrow-left {
    border-color:  transparent transparent transparent #a855f7;
}